* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #eee;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  color: #424242;
}

main {
  padding: 0 1em;
}

header {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1.5em 2em;
  background: #fff;
  margin-bottom: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

header ul {
  border-style: none;
  list-style: none;
}

header ul>li {
  padding: 8px 16px;
  display: inline;
}

header ul>li>a {
  text-decoration: none;
  color: #424242 !important;
}

.text-white {
  color: white !important;
}

.active {
  border-radius: 8px;
  background: #eee;
}

main img {
  display: block;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

footer {
  font-size: medium;
  padding: 1.5em 2em;
  width: 100%;
  text-align: center;
}

.nav-toggler {
  width: 16px;
}

.nav-toggler .toggle-line {
  transition: all 0.15s ease;
  background: #7b809a;
  border-radius: 0.1rem;
  position: relative;
  display: block;
  height: 2px;
}

.nav-toggler .toggle-line:not(:last-child) {
  margin-bottom: 3px;
}

.nav-toggler {
  display: none;
}

.jumbotron {

  border-radius: 1em;
  position: relative;
  background-color: #fff;
  margin-bottom: 1.2em;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  text-align: center;
}

.jumbotron h3 {
  font-family: sans-serif;
  font-size: 1.8em;
  padding: 3em;
  margin: 0 auto;
}

/* For mobile phones: */
@media (max-width: 480px) {
  header {
    justify-content: start;
  }

  header ul {
    display: none;
  }

  header h1 {
    margin-left: 0.5em;
    font-size: 1.7em;
  }

  .wrapper-catalog {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .nav-toggler {
    display: block;
  }
}

/* For Tablet phones: */
@media (min-width: 481px) and (max-width: 1024px) {

  .wrapper-catalog {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {

  .wrapper-catalog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }



}

@media (min-width: 1281px) {
  .wrapper-catalog {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }

  header h1 {
    margin-left: 1em;
  }
}