menu-list{
    margin: 16px auto;
    gap: 10px;
    grid-gap: 10px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.card{
    display: flex;
    flex-direction: column;
    width: auto;
    min-height: 100px;
    background-color: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)!important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.card-title{
    color: black;
    font-size: 1em;
}
.card-body{
    padding:10px;
}
.card .date-time{
    color: rgb(138, 136, 136);
    font-size: 0.8em;
}
.card img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


@media screen and (max-width: 640px) {
    menu-list{
        grid-template-columns: repeat(1,1fr);
    }
    .card-title{
        font-size: 1.3em;
    }
}

@media screen and (min-width: 641px) and (max-width: 800px) {
    menu-list{
        grid-template-columns: repeat(2,1fr);
    }
    .card-title{
        font-size: 1.2em;
    }
}
@media screen and (min-width: 801px) and (max-width: 1024px) {
    menu-list{
        grid-template-columns: repeat(3,1fr);
    }
    .card-title{
        font-size: 1.1em;
    }
}