@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: url('../public/fonts/oswald-v31-latin-regular.eot');
  /* IE9 Compat Modes */
  src: local(''), url('../public/fonts/oswald-v31-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../public/fonts/oswald-v31-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../public/fonts/oswald-v31-latin-regular.woff') format('woff'),
    /* Modern Browsers */
    url('../public/fonts/oswald-v31-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../public/fonts/oswald-v31-latin-regular.svg#Oswald') format('svg');
  /* Legacy iOS */
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #eee;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  color: #424242;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2,
h3 {
  color: #424242;
  margin-bottom: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.skip-link {
  top: -40px;
  left: 0;
  position: absolute;
  z-index: 100;
  padding: 8px;
}

.skip-link:focus {
  top: 0;
  left: 20px
}

header {
  width: 100%;
}

footer {
  font-size: 1.5rem;
  color: #424242;
  background: white;
  margin-top: 1rem;
  font-size: medium;
  padding: 1.5em 2em;
  width: 100%;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: #424242;
  font-weight: 600;
}

.shimmer {
  color: grey;
  display: inline-block;
  -webkit-mask: linear-gradient(-60deg, #000 30%, #0005, #000 70%) right/300% 100%;
  background-repeat: no-repeat;
  animation: shimmer 2.5s infinite;
  font-size: 50px;
  max-width: 200px;
}

@keyframes shimmer {
  100% {
    -webkit-mask-position: left
  }
}