<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content='width=device-width, initial-scale=1' name='viewport' />
  <!-- FontAwsome icon -->
  <link href="css/fontawesome.min.css" rel="stylesheet" />
  <link rel='dns-prefetch' href='//www.google.com' />
  <link rel='dns-prefetch' href='//fonts.googleapis.com' />
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <title>Detail Page | Restaurant Apps</title>
  <meta name="description" content="Project Submission dicoding project restaurant apps." />
  
</head>

<body>
  <!-- side drawer -->
  <nav-drawer></nav-drawer>
  <header>
    <app-bar></app-bar>
  </header>
  <main>
   <meal-item></meal-item>
  </main>
</body>
</html>
