<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#DB0000"/>
  <meta name="description" content="Final submission for Front Expert"/>
  <title>My Catalouge</title>
  <link href="css/fontawesome.min.css" rel="stylesheet" />
  <!-- manifest configuration -->
  <link rel="manifest" href="app.webmanifest" />
  <!-- Icon for Safari browser -->
  <link rel="apple-touch-icon" href="images/icons/apple-touch-icon.png" />
</head>

<body>
  <a href="#maincontent" class="skip-link" tabindex="1">Skip to content</a>
  <header>
    <app-bar></app-bar>
  </header>
  <main>

  </main>
  <footer>
    ©&nbsp;&nbsp;2023&nbsp;&nbsp;All Rights Reserved&nbsp;&nbsp;|&nbsp;&nbsp;Design By <a
      href="https://github.com/budiliauw87" alt="Android Dev">Budiliauw87 </a>&nbsp;.
  </footer>
</body>

</html>