<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>My Catalouge</title>
</head>

<body>
  <nav class="nav-drawer">
    <ul class="navigation">
      <li class="nav-item active"><a href="/">Home</a></li>
      <li class="nav-item"><a href="#">Favorite</a></li>
      <li class="nav-item"><a href="https://github.com/budiliauw87" target="_blank">About Us</a></li>
    </ul>
  </nav>
  <header>
    <a href="#" class="nav-toggler ">
      <div class="toggle-line"></div>
      <div class="toggle-line"></div>
      <div class="toggle-line"></div>
    </a>
    <h1>My Catalouge</h1>
    <ul class="navigation">
      <li class="nav-item active"><a href="/">Home</a></li>
      <li class="nav-item"><a href="#">Favorite</a></li>
      <li class="nav-item"><a href="https://github.com/budiliauw87" target="_blank">About Us</a></li>
    </ul>
  </header>
  <main>
    <div class="jumbotron">
      <img src="./images/heros/hero-image_2.jpg" alt="This jumbotron image">
    </div>
    <h2>Explore Restaurant</h2>
    <div class="wrapper-catalog">
      <div class="catalog-item">
        <img src="./images/heros/hero-image_2.jpg" class="thumbnail" alt="imgthumb">
        <a href="./detail.html">
          <h2>Restaurant Name </h2>
        </a>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum, eaque. Doloribus quos iure,
          totam blanditiis ut maiores? Aperiam dolores enim omnis ipsa voluptate quasi quo aliquid sapiente,
          magni, tempora illo.totam blanditiis ut maiores? Aperiam dolores enim omnis ipsa voluptate quasi quo aliquid
          sapiente, magni, tempora illo</p>
      </div>


      <div class="catalog-item">
        <img src="./images/heros/hero-image_2.jpg" class="thumbnail" alt="imgthumb">
        <a href="./detail.html">
          <h2>Restaurant Name </h2>
        </a>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum, eaque. Doloribus quos iure,
          totam blanditiis ut maiores? Aperiam dolores enim omnis ipsa voluptate quasi quo aliquid sapiente,
          magni, tempora illo.totam blanditiis ut maiores? Aperiam dolores enim omnis ipsa voluptate quasi quo aliquid
          sapiente, magni, tempora illo</p>
      </div>

      <div class="catalog-item">
        <img src="./images/heros/hero-image_2.jpg" class="thumbnail" alt="imgthumb">
        <a href="./detail.html">
          <h2>Restaurant Name </h2>
        </a>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum, eaque. Doloribus quos iure,
          totam blanditiis ut maiores? Aperiam dolores enim omnis ipsa voluptate quasi quo aliquid sapiente,
          magni, tempora illo.totam blanditiis ut maiores? Aperiam dolores enim omnis ipsa voluptate quasi quo aliquid
          sapiente, magni, tempora illo</p>
      </div>

      <div class="catalog-item">
        <img src="./images/heros/hero-image_2.jpg" class="thumbnail" alt="imgthumb">
        <a href="./detail.html">
          <h2>Restaurant Name </h2>
        </a>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum, eaque. Doloribus quos iure,
          totam blanditiis ut maiores? Aperiam dolores enim omnis ipsa voluptate quasi quo aliquid sapiente,
          magni, tempora illo.totam blanditiis ut maiores? Aperiam dolores enim omnis ipsa voluptate quasi quo aliquid
          sapiente, magni, tempora illo</p>
      </div>


    </div>

  </main>
  <footer>
    Copyright 2023 © Restaurant App
  </footer>

  <script type="text/javascript">
    let navdrawer = document.querySelector(".nav-drawer");
    let hambuger = document.querySelector(".nav-toggler");
    let mainElement = document.querySelector("body");
    let navItems = document.querySelectorAll('.nav-item');
    hambuger.addEventListener('click', event => {
      navdrawer.classList.toggle('open');
      event.stopPropagation();
    });

    mainElement.addEventListener('click', event => {
      navdrawer.classList.remove('open');
      event.stopPropagation();
    });
    for (let i = 0; i < navItems.length; i++) {
      navItems[i].addEventListener("click", function () {
        Array.from(navItems).map(el => {
          el.classList.remove('active');
        });
        navItems[i].classList.toggle("active");
      });
    }



  </script>
</body>

</html>