<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>My Catalouge</title>
</head>

<body>
  <a href="#maincontent" class="skip-link" tabindex="1">Skip to content</a>

  <header>
    <nav class="nav-drawer">
      <ul>
        <li class="nav-item active"><a href="/" tabindex="3">Home</a></li>
        <li class="nav-item"><a href="#" tabindex="4">Favorite</a></li>
        <li class="nav-item"><a href="https://github.com/budiliauw87" target="_blank" tabindex="5">About Us</a></li>
      </ul>
    </nav>
    <button href="#" class="nav-toggler" tabindex="2" aria-label="toggle drawer">
      <div class="toggle-line"></div>
      <div class="toggle-line"></div>
      <div class="toggle-line"></div>
    </button>
    <h1>My Catalouge</h1>
    <ul class="navigation">
      <li class="nav-item active"><a href="/">Home</a></li>
      <li class="nav-item"><a href="#">Favorite</a></li>
      <li class="nav-item"><a href="https://github.com/budiliauw87" target="_blank">About Us</a></li>
    </ul>
  </header>
  <main id="maincontent">
    <div class="jumbotron">
      <img src="./images/heros/hero-image.jpg" alt="This jumbotron image">
    </div>
    <h2 class="subheading">Explore Restaurant</h2>
    <div class="wrapper-catalog"></div>
    <!--/wrapper-->
  </main>
  <footer>Copyright 2023 © Restaurant App</footer>

</body>

</html>