<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Practice App</title>
</head>

<body>
  <nav class="nav-drawer">
    <ul class="navigation">
      <li class="nav-item active"><a href="#">Home</a></li>
      <li class="nav-item"><a href="#">Favorite</a></li>
      <li class="nav-item"><a href="#">About Us</a></li>
    </ul>
  </nav>
  <header>
    <a href="#" class="nav-toggler ">
      <div class="toggle-line"></div>
      <div class="toggle-line"></div>
      <div class="toggle-line"></div>
    </a>
    <h1>Practice Grid Css</h1>
    <ul class="navigation">
      <li class="nav-item active"><a href="#">Home</a></li>
      <li class="nav-item"><a href="#">Favorite</a></li>
      <li class="nav-item"><a href="#">About Us</a></li>
    </ul>
  </header>
  <main>
    <div class="jumbotron">
      <h3>This jumbotron text message here</h3>
    </div>
    <div class="wrapper-catalog">
      <img src="./images/heros/hero-image_1.jpg" width="100%" alt="">
      <img src="./images/heros/hero-image_2.jpg" width="100%" alt="">
      <img src="./images/heros/hero-image_3.jpg" width="100%" alt="">
      <img src="./images/heros/hero-image_4.jpg" width="100%" alt="">
      <img src="./images/heros/hero-image_1.jpg" width="100%" alt="">
      <img src="./images/heros/hero-image_2.jpg" width="100%" alt="">
    </div>

  </main>
  <footer>
    Copyright 2023 © Restaurant App
  </footer>

  <script type="text/javascript">
    let navdrawer = document.querySelector(".nav-drawer");
    let hambuger = document.querySelector(".nav-toggler");
    let mainElement = document.querySelector("body");
    let navItems = document.querySelectorAll('.nav-item');
    hambuger.addEventListener('click', event => {
      navdrawer.classList.toggle('open');
      event.stopPropagation();
    });

    mainElement.addEventListener('click', event => {
      navdrawer.classList.remove('open');
      event.stopPropagation();
    });
    for (let i = 0; i < navItems.length; i++) {
      navItems[i].addEventListener("click", function () {
        Array.from(navItems).map(el => {
          el.classList.remove('active');
        });
        navItems[i].classList.toggle("active");
      });
    }



  </script>
</body>

</html>